<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>
<plugin>   
	<extension point="org.knime.workbench.repository.nodes">
  		<node category-path="/" factory-class="org.knime.datageneration.coordinate.CoordinatePanelNodeFactory" id="de.unikn.knime.stud.seebacher.coordinatepanel.CoordinatePanelNodeFactory"/>
   		<node category-path="/" factory-class="de.unikn.knime.stud.seebacher.movinghyperplane.MovingHyperplaneNodeFactory" id="de.unikn.knime.stud.seebacher.movinghyperplane.MovingHyperplaneNodeFactory"/>
	<node category-path="/" factory-class="de.unikn.knime.stud.seebacher.distancematrixconverter.DistanceMatrixConverterNodeFactory" id="de.unikn.knime.stud.seebacher.distancematrixconverter.DistanceMatrixConverterNodeFactory"/>
 	</extension>
</plugin>
